<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel ="stylesheet" href="{% static 'style.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<title> Material Maintenance</title>
	<style>

body {
      height: 100vh;
      background: linear-gradient(#99ccff, #9999ff); 
    }
#logout{
  font-weight: bold;
  margin-left: 1150px;
  margin-top:-300px;
}
</style>
</head>
<body>
{% block body %}
{% endblock %}

</body>
</html>