{% extends "base.html" %}
{% load static %}
{% block body %}

<div class="container" style="background-color: white; margin-top: 30px;">

	{% if course %}
	

  <h2>Add Your Courses:</h2>
  <form method='POST'>
		{% csrf_token %}
  <table class="table">
    <thead>
      <tr>
        <th>Column</th>
        <th>Course ID</th>
        <th>Course Name</th>
        <th>Department</th>
        <th>Add Courses</th>
      </tr>
    </thead>
    <tbody>
      
      {% for i in course %}
      <tr>
        <td>1</td>
        <td>{{i.cid}}</td>
        <td>{{i.cname}}</td>
        <td>{{i.cdept}}</td>
        <td>
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" name ="checks[]" value="{{i.cid}}" id="customCheck1" >
                  <label class="custom-control-label" for="customCheck1"></label>
              </div>
        </td>
		{% endfor %}
    </tbody>
  </table>
  <input type="submit" class="btn btn-info center-block" value="Submit">
  <br>
  <br>
  
</div>
{% else %}
		<p> unable to print courses</p>
	{% endif %}


{% endblock %}