<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'courses'%}">back to courses</a><br><br>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
         Course_id
        {{form.cid}}
        <i>(enter Course_id = {{cid}})</i>
        <br>
        <br>
        Username
        {{form.fusername}} 
        <i>(enter username = {{username}})</i>
        <br><br>
        {{form.title.label}}
        {{form.title}} <br>
        <br>
        {{form.date.label}}
        {{form.date}}<br><br>
        {{form.material.label}}
        {{form.material}}<br><br>
        {{form.errors}}
        <input type="submit" value="upload">
    </form>
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
    
    {% if uploads %}
    <table class="table" border="1">
        <thead>
          <tr>
            <th>Title</th>
            <th>Material</th>
            <th>Delete File</th>
            <th>Date</th>
          </tr>
        </thead>
    {% for i in uploads%}
    <tr>
       <td> <b>{{i.title}}</b></td>
       <td><a href="{{i.material.url}}">{{i.material}}</a> </td>
       <td> <a href="{% url 'deleteData' i.pk %}" >Delete</a></td>
       <td> {{i.date}}</td>
       </tr>
    {% endfor %}
    </table>
    {%else%}
    No files to show please upload..!!
    {%endif%}
</body>
</html>