{% extends "base.html" %}
{% load static %}
{% block body %}

<div class="container" style="background-color: white; margin-top: 30px;">

<div class="container">

	{% if zip %}
  <h2>Add Your Courses:</h2>
  <form method='POST'>
		{% csrf_token %}
  <table class="table">
    <thead>
      <tr>
        <th>Column</th>
        <th>Course Name</th>
        <th>Faculty Name</th>
        <th>Add Courses</th>
      </tr>
    </thead>
    <tbody>
      
      {% for cnt,i,j in zip %}
      <tr>
        <td>{{ cnt }}</td>
        <td>{{j.cname}}</td>
        <td>{{i.fname}}</td>
        <td> 
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" name ="checks[]" value="{{cnt}}" id="customCheck1" >
                  <label class="custom-control-label" for="customCheck1"></label>
              </div>
        </td>
      </tr>
		{% endfor %}

    </tbody>
  </table>

  <input type="submit" class="btn btn-info center-block" value="Submit">
  <br>
  <br>
  
  </form>
</div>
{% else %}
		<p> unable to print courses</p>
	{% endif %}

{% endblock %}